body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--button-text-color);
}